<h2 id="desc" class="list">Ontologie de la Maison Numérique de la Biodiversité: Description <span class="backlink"> Retour vers <a href="#toc">Table des Matières</a></span></h2>
<span class="markdown">
L'ontologie MNB peut être illustrée par le schéma suivant concernant l'intégration de [TAXREF-LOD]():
</span>
<img style="width:100%;" src="mnb-ontologie.svg" />
